<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> <%= title %> </title>
  <link rel="icon" type="image/jpg" href="images/wheel.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>

  <center>

    <header>
      <h1>Web Colors App</h1>
        <br>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/colors">Colors</a></li>
          <li><a href="/green">Green Category</a></li>
          <li><a href="/red">Red Category</a></li>
          <li><a href="/grayscale">Grayscale Category</a></li>
          <li><a href="/random">Random Color</a></li>

        </ul>
      </nav>
    </header>

    <div class="container-fluid">
      <%- body -%>
    </div>

    <br>

    <footer>... Made by Jessica & Adel..2017 &#9732;... </footer>
  </center>

</body>

</html>
