<h2 style="color:#009245;">Green Category &#9752;	</h2>
<br>

<% colors.forEach((oneColor)=>{%>
<% if (oneColor.category === 'green') {%>

  <div class='col-md-4'>
    <div class='row' style="background-color: <%=oneColor.hex%>">
    </div>

    <div>
      Name: <%= oneColor.keyword%> <br>
      Hex: <%= oneColor.hex%> <br>
      Category: <%= oneColor.category%>
    </div>

    <br>

  </div>
  <%}%>
    <%});%>
